
#hungary_p {
	color:#4F4F4F; 
	font-size:1em;
	line-height:1.3em;
	text-align:left;
	font-family:'Gudea', sans-serif;
	margin-right:45%;
	margin-left:10%;
}

#hungary_p3 {
	color:#4F4F4F; 
	font-size:1em;
	line-height:1.3em;
	text-align:left;
	font-family:'Gudea', sans-serif;
	margin-right:45%;
	margin-left:10%;
	margin-top:-2%;
}

#hungary_p2 {
	color:#4F4F4F; 
	font-size:1em;
	line-height:1.3em;
	text-align:left;
	font-family:'Gudea', sans-serif;
	margin-left:10%;
	margin-right:10%;
}

#chart {
/*	float:right;
*/	margin-top:2%;
	margin-right:20%;
	margin-left:55%;
	padding-left:8%;
	height:0px;
	position:relative;
}

body {
	background-color:#fff;
/*	margin-top:60px;
*/	margin-bottom:60px;
}

h1 {
	color:#fff;
	margin-top:4%;
	font-family:'Playfair Display', serif;
	font-size:1.8em;
	text-align:center;
	padding:5px 0;
	color:#540700;
	letter-spacing:.01em;
}

h2 {
	font-family:'Playfair Display', serif;
	font-size:.9em;
	text-align:center;
	color:#63A689;
	letter-spacing:0.04em;
	margin-bottom:20px;
}


h3 {
	color:#fff;
	margin-top:2%;
	font-family:'Playfair Display', serif;
	font-size:1em;
	color:#540700;
	letter-spacing:.01em;
}

h4 {
	color:#fff;
	margin-top:2%;
	font-family:'Playfair Display', serif;
	font-size:1.1em;
	color:#540700;
	letter-spacing:.01em;
	text-align:center;
}

#figcaption2 {
	font-family:'Playfair Display', serif;
	color:#63A689;
	font-size:.7em;
	margin-left:982px;
}

#figcaption2 a {
	font-family:'Playfair Display', serif;
	color:#63A689;
	text-decoration:none;
}

#figcaption2 a:hover {
	text-decoration:underline; 
}

#figcaption3 {
	font-family:'Playfair Display', serif;
	color:#63A689;
	font-size:.7em;
	text-align:right;
}

#figcaption3 a {
	font-family:'Playfair Display', serif;
	color:#63A689;
	text-align:right;
	text-decoration:none;
}

#figcaption3 a:hover {
	text-decoration:underline; 
}

#tableau {
	margin-left:215px;
}

p {
	color:#4F4F4F; 
	font-size:1em;
	line-height:1.3em;
	text-align:left;
	font-family:'Gudea', sans-serif;
	margin-left:300px;
	margin-right:300px;
}

#solid {
	background-color:#1B2020;
	border-style:solid;
	border-width:30px;
	min-height:740px;
	border-color:#F4F4F4;
}

#solid h1 {
	font-family:'Playfair Display', serif;
	font-size:1.4em;
	text-align:center;
	color:#F4F4F4;
	margin-top:13.5%;
	margin-left:17%;
	margin-right:17%;
	margin-bottom:4%;
	line-height: 1.5em;
	letter-spacing:0.04em;
}

#solid h2 {
	font-family:'Playfair Display', serif;
	font-size:1.2em;
	text-align:center;
	margin-left:17%;
	margin-right:17%;
	margin-bottom:4%;
	color:#F4F4F4;
	letter-spacing:0.04em;
}

#solid h2 a {
	text-decoration:none;
	color:#63A689;
}

#solid h2 a:hover {
/*	text-decoration:underline; 
*/	color:#540700;
}

#solid h3 {
	font-family:'Playfair Display', serif;
	font-size:1.1em;
	text-align:center;
	color:#F4F4F4;
	margin-left:17%;
	margin-right:17%;
	margin-bottom:1%;
	letter-spacing:0.04em;
}

#solid p {
	font-family:'Playfair Display', serif;
	font-size:.9em;
	text-align:center;
	color:#F4F4F4;
	margin-left:17%;
	margin-right:17%;
	margin-bottom:3%;
}

#contact-body {
	padding:0;
	margin:0;
}

#solid h4{
	padding-bottom:5px;
	font-family:'Playfair Display', serif;
	font-size:1em;
	text-align:center;
	color:#540700;
	letter-spacing:.09em;
}

#solid h4 a{
	text-decoration:none;
	color:#63A689;
	font-size:.9em;
}

#solid h4 a:hover {
/*	text-decoration:underline; 
*/	color:#540700;
}

.footer2 {
	font-family:'Playfair Display', serif;
	color:#63A689;
	font-size:.7em;
	text-align:right;
	margin-right:7.5%;
	margin-top:2%;
}

.footer2 a {
	font-family:'Playfair Display', serif;
	color:#63A689;
	text-align:right;
	text-decoration:none;
}

.footer2 a:hover {
	text-decoration:underline; 
}

.footer {
    clear: both;
    position: relative;
    z-index: 10;
    height: 1em;
    margin-top: 4em;
    text-align:center;
    color: #5E0415;
	font-family:'Playfair Display', serif;
	font-size:.9em;
}

.footer a{
	text-decoration:none;
	color:#5E0415;
	font-size:.9em;

/*@media screen and (max-width:580px){

	#hungary_p {
	color:#4F4F4F; 
	font-size:1em;
	line-height:1.3em;
	text-align:left;
	font-family:'Gudea', sans-serif;
	margin-right:45%;
	margin-left:5%;
}

p {
	color:#4F4F4F; 
	font-size:1em;
	line-height:1.3em;
	text-align:left;
	font-family:'Gudea', sans-serif;
	margin-left:300px;
	margin-right:300px;
}
}*/

}

	border-bottom: 1px solid #63A689;
