.image-wrapper {
	position:relative;
	top:80px;
}

.image-wrapper h1 {
	position:absolute;
	padding:10px;
	color:#5E0415;
	font-family:'Work Sans', sans-serif;
	font-size:100px;
	top:-152px;
	left:28px;
	text-shadow:0px .5px .5px #5E0415;
	text-align:center;
}

#wrapper {
	width:900px;
	margin:auto;
}

body {
	text-align:center;
	font-family:'Roboto Slab'; serif;
	color:#2B2E2E;
}

span {
	font-variant:small-caps;
	font-family:'Work Sans', sans-serif;
	font-size:40px;
	color:#5E0415;
}

#statement {
	padding-top:80px;
	font-size:13px;
	line-height:1.5em;
	margin-left:17%;
	margin-right:17%;
}

#about, #portfolio, #resume {
	width:180px;
	height:180px;
	background-color:#2B2E2E;
	border:2px solid #2B2E2E;
	display:inline-block;
	margin:10px;
	box-shadow:1.5px 1.5px 1.5px #888888;
	margin-top:15px;
}

a {
	text-decoration:none;
	color:#C5D3D4;
	font-family:'Work Sans', sans-serif;
	font-size:35px;
	font-variant:small-caps;
	letter-spacing:1px;
	position:relative;
	top:60px;
	text-shadow:0px .5px .5px #3F030E;
}

hr {
	width:200px;
}

footer {
	color: #5E0415;
	font-family:'Roboto Slab'; serif;
	font-size:16px;
	margin-top: 15px;
	margin-bottom:10px;
}

#navigation {
	float:left;
	width:20%;
}

.gallery {
	margin-right:20%;
}

h1 {
	font-family:'Roboto Slab'; serif;
	font-size:60px;
	color:#5E0415;
}

li {
	list-style-type:none;
	text-align:left;
	font-family:'Work Sans', sans-serif;
	font-size:20px;
	font-variant:small-caps;
}

#home, #about2, #portfolio2, #resume2 {
	width:150px;
	height:100px;
	background-color:#5E0415;
	margin:10px;
	text-align:center;

}


.gallery img {
	display:inline-block;
	width:250px;
    height:250px;
    margin:2px;
    float:right;
    padding-bottom:10px;
	padding-top:10px;
}

.wrapper {
    float:right;
}

